.button {
  color: var(--black);
  font-size: 10px;
  font-weight: bold;
  border: 2px solid var(--black);
  padding: 3px 30px;
  text-transform: uppercase;
}

.button:hover {
  color: var(--white);
  background-color: var(--black);
  border: 2px solid var(--black);
  transition: all 0.3s ease;
}

.navigation-back {
  display: flex;
  max-width: 1000px;
  margin: 40px auto 0 auto;
  margin-bottom: 40px;
}

.navigation-back a {
  margin-top: 46px;
  margin-bottom: -50px;
  margin-left: 10px;
  color: var(--grey);
  font-size: 11px;
  font-weight: bold;
  border: 2px solid var(--light-grey);
  padding: 6px 8px;
  text-transform: uppercase;
}

.navigation-back a:hover {
  color: var(--white);
  background-color: var(--black);
  border: 2px solid var(--black);
  transition: all 0.3s ease;
}

/* Tablet */
@media screen and (max-width: 968px) {
  .button {
    padding: 5px 35px;
  }
  .navigation-back a {
    margin-top: 40px;
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  .button {
    padding: 6px 40px;
  }
  .navigation-back a {
    margin-top: 38px;
  }
}
