.button {
  color: var(--black);
  font-size: 10px;
  font-weight: bold;
  border: 1px solid var(--black);
  padding: 3px 30px;
  text-transform: uppercase;
  margin-bottom: 32px;
  margin-top: 20px;
}

.button:hover {
  color: var(--white);
  background-color: var(--black);
  border: 2px solid var(--black);
  transition: all 0.3s ease;
}

.button-light {
  display: flex;
  max-width: 1000px;
  margin: 40px auto 0 auto;
  margin-bottom: 40px;
}

.button-light a {
  color: var(--grey);
  font-size: 11px;
  font-weight: bold;
  border: 2px solid var(--light-grey);
  padding: 6px 8px;
  text-transform: uppercase;
}

.button-light a:hover {
  color: var(--white);
  background-color: var(--black);
  border: 2px solid var(--black);
  transition: all 0.3s ease;
}

.back a {
  margin-top: 46px;
  margin-bottom: -50px;
  margin-left: 10px;
}

button {
  background-color: transparent;
}

.load-more {
  justify-content: center;
}

/* Error feedback */
.error {
  border: 1px solid var(--red);
  background: var(--opacity-black);
  padding: 1em;
  border-radius: 0px;
  margin: 20px;
}

.error:after {
  content: ". An error occurred. Please try again later or contact us.";
}

/* Loader */
.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader div {
  position: absolute;
  border: 4px solid var(--dark-blue);
  opacity: 1;
  border-radius: 50%;
  animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loader div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes loader {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/* Tablet */
@media screen and (max-width: 968px) {
  .button {
    padding: 5px 35px;
  }
  .navigation-back a {
    margin-top: 40px;
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  .button {
    padding: 6px 40px;
  }
  .navigation-back a {
    margin-top: 38px;
  }
}
