* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
  margin-bottom: 40px;
}

.col {
  background-color: var(--arctic-blue);
  margin: 3px;
  min-height: 400px;
  flex: 1 1 400px;
}

.col img {
  max-height: 400px;
  flex-shrink: 0;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  padding: 38px;
}

.container {
  background-color: var(--arctic-blue);
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  padding: 25px;
  margin: 6px;
  margin-bottom: 60px;
}

.navigation-back {
  margin-top: 85px;
  margin-bottom: -55px;
  display: flex;
  margin-left: 5px;
}

.navigation-back a {
  color: var(--dark-blue);
}

.navigation-back a:hover {
  color: var(--grey)
  transition: all 0.3s ease;
}

.navigation-back p {
  font-size: 12px;
}

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.picture-about {
  max-height: 200px;
  background-color: var(--opacity-black);
  background-repeat: no-repeat;
  background-size: cover;
}