* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.front-image {
  background-image: url("../../images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  padding-top: 100px;
}
