:root {
  --black: #000000;
  --white: #ffffff;
  --grey: #888888;
  --light-grey: #bbbbbb;
  --arctic-blue: #dce2e9;
  --arctic-gold: #f2e0d0;
  --medium-blue: #65768c;
  --dark-blue: #3d5473;
  --red: #b3193d;
  --error: #b60505;
}
